// Futura PT
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


// Roboto Slab
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab/RobotoSlab-Light.woff2') format('woff2'),
        url('../fonts/RobotoSlab/RobotoSlab-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


// Danycom

@font-face {
    font-family: 'Danycom';
    src: url('../fonts/Danycom/danycom-bold-webfont.woff2') format('woff2'),
        url('../fonts/Danycom/danycom-bold-webfont.woff') format('woff'),
        url('../fonts/Danycom/danycom-bold-webfont.svg#danycombold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Danycom';
    src: url('../fonts/Danycom/danycom-light-webfont.woff2') format('woff2'),
        url('../fonts/Danycom/danycom-light-webfont.woff') format('woff'),
        url('../fonts/Danycom/danycom-light-webfont.svg#danycomlight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Danycom';
    src: url('../fonts/Danycom/danycom-medium-webfont.woff2') format('woff2'),
        url('../fonts/Danycom/danycom-medium-webfont.woff') format('woff'),
        url('../fonts/Danycom/danycom-medium-webfont.svg#danycommedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Danycom';
    src: url('../fonts/Danycom/danycom-regular-webfont.woff2') format('woff2'),
        url('../fonts/Danycom/danycom-regular-webfont.woff') format('woff'),
        url('../fonts/Danycom/danycom-regular-webfont.svg#danycomregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Danycom';
    src: url('../fonts/Danycom/danycom-semibold-webfont.woff2') format('woff2'),
        url('../fonts/Danycom/danycom-semibold-webfont.woff') format('woff'),
        url('../fonts/Danycom/danycom-semibold-webfont.svg#danycomsemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}
