// Цвета
$blue: #3a7bf2;
$blue-darken: #2467e2;
$gray-light: #e9edf2;
$gray-lighten: #cdcfd8;
$gray: #808592;
$primary: #292929;
$blue-dark: #394a7f;
$black: #000000;
$white: #ffffff;

// Шрифты
$fz: 16px;
$accent-font: 'Roboto Slab';
$main-font: 'Danycom';

// Скорость анимации
$animateSpeed: 0.5s;

// Скругление
$mainRadius: 6px;

// Отступы
$gutter-default: 30px;

// margin или padding для секций
$margin-large: 90px;
$margin-medium: 60px;
$margin-small: 30px;
