html,
body {
    min-height: 100%;
}

html {
    font-size: $fz;

    @include media-breakpoint-down(md) {
        font-size: $fzMd;
    }

    @include media-breakpoint-down(xs) {
        font-size: $fzXs;
    }
}

body {
    font-family: $main-font;
    font-weight: 400;
    font-size: 1rem;
    color: $primary;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 320px;
    background: $white;
    overflow-x: hidden;

    &.overflow {
        overflow: hidden;

        &::after {
            opacity: 1;
            visibility: visible;
        }
    }

}

// выделение текста
::selection {
    background-color: $blue;
    color: $white;
}

// базовые параметры
strong {
    font-weight: 700;
}

a {
    color: $blue;
}

* {
    box-sizing: border-box;
}

.section {
    margin-top: 100px;
    margin-bottom: 100px;

    &__ui-desc {
        margin-bottom: 5px;
        font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
