---
title: Index Page
---
extends layouts/_layout
block content

  .container
    // variable use example
    h1!= title

    // partial example
    include ./partials/_example

    // mixin example
    +icon('facebook')

    // variable set example
    - let list = ['text 1', 'text 2', 'text 3'];

    +b.SECTION.hello
      +e.P.elem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores mollitia suscipit officia voluptatum fugiat eaque, quaerat iusto illo! Nihil id provident culpa, eveniet animi quaerat tempora cumque! Beatae, est?
    
    // loop example
    ul  
      for item in list
        li= item
