.checkbox {
    user-select: none;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &>span {
        display: flex;
        align-items: center;
    }

    svg {
        width: 18px;
        opacity: 0;
        fill: $gray-lighten;
        transition: all .1s ease;
    }

    &__icon {
        width: 34px;
        height: 34px;
        border: solid 1px $blue;
        border-radius: 50%;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        margin-right: 14px;
    }

    &:hover {
        .checkbox__icon {
            svg {
                opacity: 1;
            }
        }
    }

    input {
        display: none;

        &:checked+span {
            .checkbox__icon {
                background: $blue;

                &:hover {
                    background: $blue-darken;
                    border-color: $blue-darken;
                }

                svg {
                    fill: $white;
                    opacity: 1;
                }
            }

        }
    }

    &__content {}
}
