.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    &__numbers{
        display: flex;
        align-items: center;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 49px;
            width: 49px;
            color: #000;
            text-decoration: none;
            position: relative;
            border-radius: 50%;
            margin: 0 2px;
            transition: all .3s ease;
            &:hover{
                color: $blue;
                background: $gray-light;
            }
            &.active{
                color: $white;
                background: $blue;
            }
        }
        span{
            margin-bottom: 8px;
        }
    }
    &__first{
        display: flex;
    }
    &__last{
        display: flex;
    }
    @include media-breakpoint-down(xll) {
        &__numbers{
            a{
                height: 40px;
                width: 40px;
                font-size: 14px;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        margin-top: 50px;
        .btn{
            padding: 0;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                display: none;
            }
            svg{
                margin: 0;
            }
        }
    }
    @include media-breakpoint-down(xs) {
        margin-top: 30px;
        &__numbers{
            a{
                width: 35px;
                height: 35px;
            }
        }
        &__last{
            display: none;
        }
        span{
            display: none;
        }
        .btn{
            width: 35px;
            height: 35px;
        }
        svg{
            width: 15px !important;
            height: 15px !important;
        }
    }
}