select {
    height: 50px;
    width: 100%;
}

.custom-select {
    position: relative;
    display: inline-block;

    &__dropdown {
        background: $white;
        position: absolute;
        width: 200px;
        right: 0;
        margin-top: 15px;
        z-index: 5;
        border-radius: 5px;
        box-shadow: 0 0 5px 1px rgba(35, 7, 0, 0.06);

        &:before {
            content: '';
            width: 12px;
            height: 12px;
            display: block;
            background: $white;
            box-shadow: 0 0 5px 1px rgba(35, 7, 0, 0.06);
            transform: rotate(-45deg);
            top: -6px;
            right: 30px;
            position: absolute;
            z-index: -1;
        }

        .custom-select__option {
            width: 100%;
            display: block;
            font-size: 14px;
            padding: 0 27px;
            background: transparent;
            position: relative;
            z-index: 2;
            background: $white;

            &:first-child {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            &:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }

    &__option {
        height: 50px;
        text-align: left;

        &:hover {
            color: $white;
            background: $blue;
            border-color: $blue;
        }

        &--value {
            padding-right: 45px;
            @include input-base();
            border-color: rgb(205, 207, 216);
            position: relative;
            white-space: nowrap;
            @include truncate(100%);

            &:hover {
                background: $white;
                color: $blue;
            }

            &:focus {
                border-color: $blue;
            }

            &:after {
                content: '';
                width: 25px;
                display: block;
                height: 25px;
                background: url('../img/icons/circle-arrow-down.svg') center no-repeat;
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -12px;
                opacity: 0.8;
            }


        }
    }

}
