mixin social(itemClass)
  +b.social-module(class=itemClass)
    +e.UL.list
      +e.LI
        a(href="https://www.instagram.com/danycom.ru/", target="_blank")
          +icon('instagram','')
      +e.LI
        a(href="https://vk.com/danycom", target="_blank")
          +icon('vk','')
      +e.LI
        a(href="https://www.facebook.com/danycomru/", target="_blank")
          +icon('facebook','')
      +e.LI
        a(href="https://ok.ru/danycom", target="_blank")
          +icon('odn','')