.social-module {
    &__list {
        display: flex;
        align-items: center;
    }

    li {
        margin: 0 5px;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    a {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 0.25rem;
        border: 0.063rem solid rgb(226, 228, 234);
        background-color: rgb(240, 241, 246);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $blue-dark;

        svg {
            fill: $blue-dark;
            width: 16px;
            height: 16px;
        }

        &:hover {
            background: $blue;
            border-color: $blue;

            svg {
                fill: $white;
            }
        }
    }

}
