.up {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $primary;
    font-size: 14px;
    background: transparent;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: $gray-light;
        border: solid 1px #e2e4ea;
        margin-left: 12px;

        svg {
            fill: $primary;
            width: 13px;
        }

    }

    &:hover {
        color: $blue;

        .up__icon {
            background: $blue;
            border-color: $blue;

            svg {
                fill: $white;
            }
        }
    }

    @include media-breakpoint-down(md) {
        display: none;
    }
}
