extend layouts/_layout

block variables 
  - var pageClass = '';
  - var pageTitle = "Интерфейс";
  - var pageDescription = ""
  - var pageName = "ui"
block content

  +b.ui
    // header
    +e.header
      .row
        .col
          include ./partials/_nav-icon
        .col
          h1 Boiler UI
    +b.SECTION.section
      .container
        // Fields   
        +b.title-module
          +e.H3.title Fields
        .row
          .col
            +e.P.ui-desc .field
            +b.INPUT(type="text", class="field", placeholder="Введите...")
          .col
            +e.P.ui-desc --error
            +b.INPUT(type="text", class="field --error", placeholder="Введите...")
          .col
            +e.P.ui-desc --disabled
            +b.INPUT(type="text", class="field --disabled", placeholder="Введите...")
          .col
            +e.P.ui-desc +attach()
            +attach('btn --line-gray --icon-right')
        .row
          .col
            +e.P.ui-desc +datepicker()
            +datepicker(' ', 'Фильтр по дате')
          .col
            +e.P.ui-desc +select()
            +select('')
              option Отдел кадров
              option Пресс-центр
              option Партнерам
              option Инвесторам
          .col
          .col
    +b.SECTION.section(class="--gray")
      .container
        // Buttons
        +b.title-module
          +e.H3.title Buttons / Links
        .row
          .col
            +e.P.ui-desc +button()
            +button('Написать', '--blue --icon-right', 'arrow-right')
          .col
            +e.P.ui-desc +up()
            +up()
          .col
          .col
    +b.SECTION.section
      .container    
        // Checkbox / Radio 
        +b.title-module
          +e.H3.title Checkbox / Radio 

        .row
          .col
            +checkbox('checked')
              | Я согласен на обработку персональных данных, а также с <a href="#" target="_blank">условиями подписки</a>
    +b.SECTION.section(class="--gray")
      .container  
        // Social
        +b.title-module
          +e.H3.title Social
        
        .row
          .col
            +social()
    +b.SECTION.section
      .container  
        // Pagination
        +b.title-module
          +e.H3.title Pagination
        
        .row
          .col
            include partials/_pagination
    +b.SECTION.section(class="--gray")
      .container  
        // Files
        +b.title-module
          +e.H3.title Files
        
        .row
          .col
            +file('pdf', 'Логотипы компании', 'ZIP, 256.21 КБ', '')
          .col
            +file('doc', 'Логотипы', 'ZIP, 256.21 КБ', '')
          .col
            +file('doc', 'Логотипы', 'ZIP, 256.21 КБ', '')
    
        //
    +b.SECTION.section
      .container
        // title module
        +b.title-module
          +e.H3.title Text

        // text
        .typography

          h1 Heading H1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum harum nostrum sed laudantium maxime sunt, animi mollitia officiis dicta! Nemo facilis amet iste ipsum unde. Consequatur quasi perspiciatis ea fuga.

          h2 Heading H2
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla in facere, dicta porro labore magnam ipsa adipisci ipsum reprehenderit rerum? Ullam nobis nostrum amet, quo unde earum ab aperiam dignissimos.

          h3 Heading H3
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam provident praesentium ex a eaque totam. Animi amet dolor iusto repellat debitis quos quam earum, unde iste aliquam perferendis hic accusantium.
          h4 Heading H4
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque asperiores aspernatur aperiam consequatur pariatur soluta, illo laboriosam porro commodi ut quis saepe sint reiciendis! Expedita pariatur autem molestias eveniet quam.
          h5 Heading H5
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus ipsum dolore, at eveniet, pariatur voluptatibus exercitationem excepturi velit esse aut reiciendis omnis, obcaecati fugit. Eum esse consectetur omnis adipisci amet!
          h6 Heading H6
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum laudantium eaque optio! Praesentium est eveniet minus perferendis, ipsa qui? Possimus debitis impedit ratione beatae perspiciatis voluptatibus facilis quia maiores a.


          ul
            li Hello list
            li Hello list
            li Hello list
            li Hello list
            li Hello list
          
          ol
            li Hello list
            li Hello list
            li Hello list
            li Hello list
            li Hello list
    
