// page ui test
.ui {
    .row {
        &>div {
            margin-bottom: 30px;
        }

        &:last-of-type {
            margin-bottom: -30px;
        }
    }

    &__header {
        padding: 0 $margin-small;
        background: $light;
        height: 150px;

        .row {
            align-items: center;
            height: 100%;

            &>div {
                margin-bottom: 0px;
            }
        }
    }

    &__dark {
        color: $white;
        background: $blue-dark;
    }
}
